Repository ansible/molecule, pull requests merged in 2019-12, with the labels that each got.

#2459 test: run destroy instead of full test command for templates
  molecule/test/functional/docker/test_scenarios.py
Labels: skip-changelist, test

#2458 Remove --delegated pytest option
  molecule/driver/docker.py
  molecule/test/conftest.py
  molecule/test/functional/conftest.py
  molecule/test/functional/test_command.py
  molecule/test/scenarios/driver/delegated/molecule/default/create.yml
  molecule/test/scenarios/driver/delegated/molecule/default/destroy.yml
  molecule/test/scenarios/driver/delegated/molecule/default/molecule.yml
  molecule/test/scenarios/driver/delegated/molecule/default/playbook.yml
  molecule/test/scenarios/driver/delegated/molecule/docker/molecule.yml
  molecule/test/scenarios/driver/delegated/molecule/docker/playbook.yml
  molecule/test/scenarios/driver/delegated/molecule/docker/tests/test_default.py
  molecule/test/scenarios/driver/docker/molecule/default/requirements.yml
  molecule/test/unit/command/conftest.py
Labels: skip-changelist, test

#2465 Clarify unprivileged docker user usage
  docs/examples.rst
Labels: docs

#2457 Avoid running docker tests with podman-docker
  molecule/command/init/role.py
  molecule/test/functional/conftest.py
  molecule/util.py
Labels: docker, podman, skip-changelist, test

#2467 docker: Add labels parameter in create
  molecule/provisioner/ansible/playbooks/docker/create.yml
Labels: docker
