Repository ansible/molecule, pull requests merged in 2020-06, with the labels that each got.

#2724 zuul: use nodesets supporting docker
  zuul.d/layout.yaml
Labels: gate, skip-changelog

#2722 Fixes around ansible-devel testing
  Dockerfile
  docs/testing.rst
  tools/build-containers.py
  tox.ini
  zuul.d/layout.yaml
Labels: test

#2710 Replace mailing list with github discussions
  .github/ISSUE_TEMPLATE/config.yml
  README.rst
  setup.cfg
Labels: docs, gate

#2699 podman: remove reference to "volumes" setting
  molecule/driver/podman.py
Labels: gate

#2708 Set DEBIAN_FRONTEND=noninteractive in the default Dockerfile
  molecule/data/Dockerfile.j2
  molecule/data/validate-dockerfile.yml
Labels: docker

#2715 Add cgroup-manager storage-opt storage-driver to podman driver
  molecule/driver/podman.py
  molecule/model/schema_v3.py
  molecule/provisioner/ansible/playbooks/podman/create.yml
  molecule/test/resources/playbooks/podman/create.yml
Labels: feature, gate, podman

#2716 Support root containers for podman
  molecule/model/schema_v3.py
  molecule/provisioner/ansible/playbooks/podman/create.yml
  molecule/provisioner/ansible/playbooks/podman/destroy.yml
  molecule/test/resources/playbooks/podman/create.yml
  molecule/test/resources/playbooks/podman/destroy.yml
Labels: feature, podman

#2685 Treat warnings as errors during testing
  setup.cfg
Labels: test

#2701 Clarify Docker bind-mount
  docs/examples.rst
Labels: docker, docs

#2709 Pass ansible_args to idempotence command
  molecule/command/idempotence.py
Labels: bug

#2729 Workaround pip editable install bug
  setup.py
Labels: bug, gate, packaging

#2696 Allow configuration of docker_network in platforms
  molecule/driver/docker.py
  molecule/provisioner/ansible/playbooks/docker/create.yml
  molecule/provisioner/ansible/playbooks/docker/destroy.yml
  molecule/provisioner/ansible/plugins/filter/molecule_core.py
  molecule/test/resources/playbooks/docker/create.yml
  molecule/test/resources/playbooks/docker/destroy.yml
Labels: docker

#2731 Add article how to use molecule and why
  docs/index.rst
Labels: docs

#2730 Adopt sphinx_ansible_theme
  .pre-commit-config.yaml
  docs/_static/images/favicon.ico
  docs/_static/images/logo_big.png
  docs/_static/images/logo_invert.png
  docs/_static/logo.png
  docs/conf.py
  docs/examples.rst
  molecule/command/base.py
  setup.cfg
  setup.py
  tox.ini
  zuul.d/layout.yaml
Labels: docs
