Repository ansible/molecule, pull requests merged in 2020-01, with the labels that each got.

#2480 tests: use is_subset to validate loaded data
  .pre-commit-config.yaml
  molecule/__main__.py
  molecule/test/conftest.py
  molecule/test/functional/conftest.py
  molecule/test/functional/docker/test_scenarios.py
  molecule/test/unit/driver/test_delegated.py
  molecule/test/unit/driver/test_docker.py
  molecule/test/unit/provisioner/test_ansible.py
Labels: skip-changelist, test

#2479 Remove init template command
  docs/usage.rst
  molecule/command/init/init.py
  molecule/command/init/template.py
  molecule/test/functional/docker/test_scenarios.py
  molecule/test/unit/command/init/test_template.py
Labels: major

#2482 test: prevent running functional tests when not installed
  molecule/test/functional/conftest.py
Labels: skip-changelist, test

#2483 test: detect broken podman
  molecule/test/functional/conftest.py
Labels: skip-changelist, test

#2487 Switch Ansible support model to N/N-1
  .travis.yml
  CHANGELOG.rst
  README.rst
  molecule/driver/docker.py
  molecule/provisioner/ansible/playbooks/docker/create.yml
  molecule/test/resources/playbooks/docker/create.yml
  molecule/test/unit/driver/test_docker.py
  setup.cfg
  tox.ini
Labels: docs, major, test

#2486 Enable Zuul CI integration
  bindep.txt
  molecule/data/validate-dockerfile.yml
  pytest.ini
  setup.cfg
  tools/test-setup.sh
  tox.ini
  zuul.d/layout.yaml
Labels: gate, skip-changelist, test

#2500 Sort bindep.txt file
  bindep.txt
Labels: gate

#2501 docker: networks_cli_compatible default to true
  molecule/provisioner/ansible/playbooks/docker/create.yml
  molecule/test/resources/playbooks/delegated/create/docker.yml
  molecule/test/resources/playbooks/docker/create.yml
Labels: docker, gate

#2503 Improved pytest config
  pytest.ini
  setup.cfg
  tox.ini
Labels: gate, test

#2504 zuul: one job per tox environment
  .travis.yml
  AUTHORS.rst
  CONTRIBUTING.rst
  README.rst
  docs/ci.rst
  docs/installation.rst
  docs/testing.rst
  molecule/lint/yamllint.py
  molecule/scenario.py
  molecule/test/functional/conftest.py
  molecule/test/scenarios/idempotence/tasks/main.yml
  setup.cfg
  setup.py
  tox.ini
  zuul.d/layout.yaml
Labels: gate

#2508 Enable flake8-docstrings
  .flake8
  .pre-commit-config.yaml
  molecule/api.py
  molecule/command/base.py
  molecule/command/check.py
  molecule/command/cleanup.py
  molecule/command/converge.py
  molecule/command/create.py
  molecule/command/dependency.py
  molecule/command/destroy.py
  molecule/command/drivers.py
  molecule/command/idempotence.py
  molecule/command/init/init.py
  molecule/command/init/role.py
  molecule/command/init/scenario.py
  molecule/command/lint.py
  molecule/command/list.py
  molecule/command/login.py
  molecule/command/matrix.py
  molecule/command/prepare.py
  molecule/command/side_effect.py
  molecule/command/syntax.py
  molecule/command/test.py
  molecule/command/verify.py
  molecule/config.py
  molecule/dependency/ansible_galaxy.py
  molecule/dependency/shell.py
  molecule/driver/base.py
  molecule/driver/delegated.py
  molecule/driver/docker.py
  molecule/driver/podman.py
  molecule/interpolation.py
  molecule/logger.py
  molecule/model/schema_v2.py
  molecule/platforms.py
  molecule/provisioner/ansible.py
  molecule/provisioner/ansible/plugins/filter/molecule_core.py
  molecule/provisioner/ansible_playbook.py
  molecule/provisioner/ansible_playbooks.py
  molecule/provisioner/lint/ansible_lint.py
  molecule/scenario.py
  molecule/scenarios.py
  molecule/shell.py
  molecule/state.py
  molecule/util.py
  molecule/verifier/testinfra.py
Labels: gate

#2506 Reduce the duration of functional testing
  molecule/test/scenarios/.flake8
  molecule/test/scenarios/driver/docker/molecule/ansible-verifier/molecule.yml
  molecule/test/scenarios/driver/docker/molecule/ansible-verifier/verify.yml
  molecule/test/scenarios/driver/docker/molecule/default/molecule.yml
  molecule/test/scenarios/driver/docker/molecule/default/tests/test_default.py
  molecule/test/scenarios/driver/docker/molecule/multi-node/molecule.yml
  molecule/test/scenarios/driver/docker/molecule/multi-node/playbook.yml
  molecule/test/scenarios/driver/docker/molecule/multi-node/requirements.yml
Labels: gate

#2509 Fix D101,D103 docstring rules
  .flake8
  conftest.py
  molecule/api.py
  molecule/command/base.py
  molecule/command/init/base.py
  molecule/config.py
  molecule/cookiecutter/scenario/verifier/testinfra/{{cookiecutter.molecule_directory}}/{{cookiecutter.scenario_name}}/{{cookiecutter.verifier_directory}}/test_default.py
  molecule/dependency/base.py
  molecule/driver/base.py
  molecule/interpolation.py
  molecule/lint/base.py
  molecule/logger.py
  molecule/model/schema_v1.py
  molecule/model/schema_v2.py
  molecule/provisioner/ansible/plugins/filter/molecule_core.py
  molecule/provisioner/ansible_playbook.py
  molecule/provisioner/base.py
  molecule/provisioner/lint/ansible_lint.py
  molecule/provisioner/lint/base.py
  molecule/status.py
  molecule/test/functional/docker/test_scenarios.py
  molecule/test/resources/roles/testplugin/library/library.py
  molecule/test/resources/roles/testplugin/plugins/filters/core.py
  molecule/test/scenarios/cleanup/molecule/default/tests/test_default.py
  molecule/test/scenarios/driver/docker/molecule/default/tests/test_default.py
  molecule/test/scenarios/driver/docker/molecule/multi-node/tests/test_bar.py
  molecule/test/scenarios/driver/docker/molecule/multi-node/tests/test_baz.py
  molecule/test/scenarios/driver/docker/molecule/multi-node/tests/test_default.py
  molecule/test/scenarios/driver/docker/molecule/multi-node/tests/test_foo.py
  molecule/test/scenarios/driver/podman/molecule/default/tests/test_default.py
  molecule/test/scenarios/driver/podman/molecule/multi-node/tests/test_bar.py
  molecule/test/scenarios/driver/podman/molecule/multi-node/tests/test_baz.py
  molecule/test/scenarios/driver/podman/molecule/multi-node/tests/test_default.py
  molecule/test/scenarios/driver/podman/molecule/multi-node/tests/test_foo.py
  molecule/test/scenarios/plugins/library/project_library.py
  molecule/test/scenarios/plugins/plugins/filters/project.py
  molecule/test/scenarios/side_effect/molecule/default/tests/test_default.py
  molecule/test/scenarios/test_destroy_strategy/molecule/default/tests/test_default.py
  molecule/test/scenarios/verifier/molecule/testinfra-pre-commit/tests/test_default.py
  molecule/test/scenarios/verifier/molecule/testinfra/shared/test_shared.py
  molecule/test/scenarios/verifier/molecule/testinfra/tests/test_default.py
  molecule/test/unit/command/test_base.py
  molecule/test/unit/cookiecutter/test_molecule.py
  molecule/util.py
  molecule/verifier/base.py
  molecule/verifier/lint/base.py
  utils/build-docker.py
Labels: gate, test

#2510 Use prebuild images in scenario template
  molecule/cookiecutter/molecule/{{cookiecutter.role_name}}/{{cookiecutter.molecule_directory}}/{{cookiecutter.scenario_name}}/molecule.yml
Labels: gate, test

#2512 Prevent accidental test regressions on CI
  conftest.py
  setup.cfg
  zuul.d/layout.yaml
Labels: gate

#2515 Allow platform env key containing dot (#2495)
  molecule/model/schema_v2.py
  molecule/test/unit/model/v2/test_platforms_section.py
  zuul.d/layout.yaml
Labels: bug, gate

#2514 Update internal ansible.cfg defaults
  molecule/provisioner/ansible.py
  molecule/test/unit/provisioner/test_ansible.py
Labels: enhancement, gate

#2516 Fixed docker_image_facts rename
  molecule/test/resources/playbooks/docker/create.yml
Labels: gate

#2518 docstrings: Fix D401 rule
  .flake8
  molecule/api.py
  molecule/command/__init__.py
  molecule/command/base.py
  molecule/command/drivers.py
  molecule/command/idempotence.py
  molecule/command/init/__init__.py
  molecule/command/init/role.py
  molecule/command/init/scenario.py
  molecule/command/list.py
  molecule/command/login.py
  molecule/dependency/__init__.py
  molecule/dependency/ansible_galaxy.py
  molecule/dependency/base.py
  molecule/dependency/gilt.py
  molecule/dependency/shell.py
  molecule/driver/__init__.py
  molecule/driver/base.py
  molecule/driver/delegated.py
  molecule/driver/docker.py
  molecule/driver/podman.py
  molecule/interpolation.py
  molecule/lint/__init__.py
  molecule/lint/base.py
  molecule/lint/yamllint.py
  molecule/logger.py
  molecule/model/__init__.py
  molecule/model/schema_v2.py
  molecule/provisioner/__init__.py
  molecule/provisioner/ansible.py
  molecule/provisioner/ansible_playbook.py
  molecule/provisioner/base.py
  molecule/provisioner/lint/__init__.py
  molecule/provisioner/lint/ansible_lint.py
  molecule/provisioner/lint/base.py
  molecule/scenario.py
  molecule/scenarios.py
  molecule/state.py
  molecule/util.py
  molecule/verifier/__init__.py
  molecule/verifier/base.py
  molecule/verifier/lint/__init__.py
  molecule/verifier/lint/base.py
  molecule/verifier/lint/flake8.py
  molecule/verifier/lint/precommit.py
  molecule/verifier/lint/rubocop.py
  molecule/verifier/lint/yamllint.py
  molecule/verifier/testinfra.py
  setup.cfg
Labels: gate, test
