Repository ansible/molecule, pull requests merged in 2020-05, with the labels that each got.

#2682 Fix environment handling for sh.py >= 1.13
  molecule/config.py
  molecule/test/conftest.py
  setup.cfg
Labels: gate

#2686 Speed-up CI/CD on docs only changes
  zuul.d/layout.yaml
Labels: gate

#2688 Document use of GitHub Actions with private repositories
  docs/ci.rst
Labels: docs, gate

#2687 Documentation refactoring
  docs/changelog.rst
  docs/index.rst
Labels: docs, gate

#2689 docs: Dockerfile no longer created by default
  docs/getting-started.rst
Labels: docs, gate

#2690 Fix issue with finding collections
  molecule/provisioner/ansible.py
Labels: bug, gate

#2694 Enable type checking using mypy
  .pre-commit-config.yaml
  molecule/api.py
  molecule/config.py
  molecule/dependency/ansible_galaxy/collections.py
  molecule/dependency/ansible_galaxy/roles.py
  molecule/driver/base.py
  molecule/logger.py
  molecule/provisioner/ansible.py
  molecule/state.py
  molecule/test/unit/command/test_base.py
  mypy.ini
Labels: gate, test

#2608 Remove use of distutils
  .pre-commit-config.yaml
  molecule/test/functional/conftest.py
  setup.cfg
Labels: gate, packaging

#2695 Remove py2 leftovers
  setup.cfg
  tox.ini
Labels: gate

#2691 Replace most centos:7 refereces with 8
  conftest.py
  docs/examples.rst
  molecule/cookiecutter/molecule/{{cookiecutter.role_name}}/{{cookiecutter.molecule_directory}}/{{cookiecutter.scenario_name}}/molecule.yml
  molecule/data/validate-dockerfile.yml
  molecule/driver/docker.py
  molecule/driver/podman.py
  tox.ini
Labels: gate

#2707 docs: fix typos in examples
  docs/examples.rst
Labels: docs, gate

#2706 Update monolith-repo link in faq
  docs/faq.rst
Labels: docs, gate
